{% extends 'base.html' %}

{% block body %}
<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">The Website for creating<br><span>HTML</span> from Text</h1>
    <p class="mb-4 pb-0">A Simple Django Project created by Team <span>B</span>est <span>O</span>f <span>B</span>est</p>
    <a href="input" class="play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>

  </div>
</section>

{% endblock body %}